#pokeprofile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    background-color: rgb(255, 0, 68);
    border-radius: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#pokeprofile #left-col * {
    margin-top: 2px;
}

#pokeprofile h2 {
    margin-bottom: 5px;
}

#pokeprofile h4 {
    margin-bottom: 5px;
}

#pokeprofile img {
    position: relative;
    min-width: 160px;
    height: 160px;
    overflow: hidden;

}